# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.egg-info

# Environment
env/
test_env

# Test directory
tests/

# Other specific directories or files to ignore
Flask_Validator.egg-info/
flask_data_validation.egg-info/
flask_validators.egg-info/
READMEPypi.md
GPTText
test_database.db
test.sh